{% extends "base.html" %}
{% block title %}Form{% endblock %}
{% block body %}

{% if result %}

    <p>Thank you!</p>

{% else %}

    <p>The format is 'job' followed by a space then a number representing the number of years there. The records are separated by commas.</p>
    <ul>
        <li>undergrad, postgrad, faculty, academic,</li>
        <li>service, software, technology,</li>
        <li>consulting, sales,</li>
        <li>natoc, intoc, indoc, junoc,</li>
        <li>mining, other,</li>
        <li>government, survey, agency, localgov,</li>
        <li>unemployed, retired,</li>
        <li>self-employed, startup,</li>
    </ul>

    <p>Example: <code>undergrad 3, postgrad 4, natoc 3, software 4, intoc 5, service 10</code></p>

    <form action="/" method="post">
        <input type="text" name="data" placeholder="Add your path" required="required" size="64" />
        <button type="submit">Submit</button>
    </form>

{% endif %}

{% endblock %}